.languages {
    width: 4.3rem;
    height: auto;
    font-family: "Brutal Type Light";
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-flow: column;

    &:hover>* {
        border-radius: 0;
    }

    &__active {
        display: flex;
        justify-content: space-around;
        align-items: end;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        opacity: 1;
        pointer-events: auto;
        cursor: pointer;
        padding: 0.6rem;
        transition: none;

        &:hover {
            border-radius: 0;
        }

        &:hover+.languages__container {
            opacity: 1;
        }

        .arrow-down {
            border: solid #d0d0d0;
            border-width: 0 1px 1px 0;
            width: 0.8rem;
            height: 0.8rem;
            margin-left: 0.7rem;
            margin-bottom: 0.5rem;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &__container {
        opacity: 0;
        border: 1px solid #e0e0e0;
        border-top: 0;

        &:hover {
            opacity: 1;
        }

        .languages__rest {
            padding: 0.2rem 0.5rem;
            cursor: pointer;

            &:hover {
                background: #0c4dde;
                color: #fff;
            }
        }
    }

}
